<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}AlbumMe
			{% endblock %}
		</title>
		<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>"> {% block stylesheets %}{% endblock %}

		{% block javascripts %}
			{% block importmap %}
				{{ importmap('app') }}
			{% endblock %}
		{% endblock %}
	</head>
	<body>
		{# In <body> but outside of the twig body block, I can override tob_bar with an empty block if I dont want the top bar in particular pages #}
		{% block tob_bar %}
			{% include 'partials/_topbar.html.twig' %}
		{% endblock %}
		{# To print flash messages #}
		{% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="flash-{{ label }}" style="padding: 1rem; background-color: #fff3cd; color: #664d03; border: 1px solid #ffe69c; border-radius: .25rem; margin-bottom: 1rem;">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}

		{% block body %}{% endblock %}
	</body>
</html>
